body {
    margin: 0;
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    height: 50%;
    /* background-color: white; */
    
}

@media screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

.grid-item {
    height: 45vh;
    /* border: 1px solid #ccc; Light grey border for each grid item */
    overflow: hidden; /* Ensures no overflow from the grid item */
    align-items: center; /* Centers content vertically */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    background-color: white;

}

.title {
    font-weight: bold;
    background-color: #f8f8f8; /* Light grey background for titles */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

img, canvas {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height *
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Blocks extra space below the image */
    background-color: white;
    
}